html, body {
  margin: 0;
  padding: 0;
}

div.top-app-bar__buttons {
  margin-left: 10px;
}

div.top-app-bar__buttons a.mdc-button:not(:first-child) {
  margin-left: 5px;
}

@media screen and (max-width: 839px) {
  div.top-app-bar__buttons {
    display: none;
  }
}

:root {
  --mdc-theme-primary: #2196f3;
  --mdc-theme-secondary: #3f51b5;
}
